.ori__cta {
    background-color: var(--cta-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.ori__cta-heading {
    display: flex;
    margin-bottom: 3rem;
}

.ori__cta-heading h1 {
    font-family: var(--font-family);
    color: var(--body-bg);
    /* text-decoration: underline; */
}

.ori__cta_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ori__cta_container-num {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ori__cta_container-num a {
    color: var(--body-bg);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .ori__cta_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }
}