.ori__socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ori__socials-heading {
    display: flex;
    justify-content: flex-start;
}

.ori__socials-heading h3 {
    color: var(--color-heading);
    padding-bottom: 1rem;
}


.ori__socials-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

