.ori__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.8rem;
    outline: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 40px;
    background: var(--color-btn);
    font-family: var(--font-family);
    color: var(--body-bg);
    font-weight: 900;
    font-size: 18px;
}

.ori__button:hover {
    background-color: #ee6f1b;
    color: var(--color-heading);
}