.ori__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.8rem;
    outline: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 40px;

    font-family: var(--font-family);
    color: var(--color-btntext);
    font-weight: 900;
    font-size: 20px;
}

.ori__button:hover {
    background-color: #5bbe6e;
    color: aliceblue;
}