.ori__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ori__features h1 {
    font-family: var(--font-family);
    color: var(--color-heading);
    /* align-self: flex-start; */
    margin-bottom: 2rem;
}

@media screen and (max-width : 880px) {
    .ori__features {
        margin: 4rem 0;
        padding: 2rem 0;
    }

    .ori__features h1 {
        padding: 0 2rem;
        text-align: center;
    }
}