.ori__heroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 5px;
    width: 180px;
    height: 40px;
    outline: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 30px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: var(--color-btnText);
}



.ori__heroButton p {
    font-family: var(--font-family);
    color: var(--color-btntext);
    font-weight: 900;
    font-size: 1rem;
    padding: 0;
}

.ori__heroButton:hover {
    background-color: #5bbe6e;
    color: aliceblue;
}

@media screen and (max-width : 850px) {
    .ori__heroButton {
        display: flex;
        /* width: 100%; */
    }

    .ori__heroButton p {
        font-weight: 900;
        font-size: 18px;
    }
}