.ori__termiteControl {
    display: flex;
    flex-direction: column;
    /* padding: 2rem 6rem; */
}

.ori__termiteControl-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 4rem;
    gap: 2rem;
}

/* .ori__termiteControl-title_heading {
    flex: 1.2;
    font-family: var(--font-family);
    color: var(--color-heading);
    font-weight: bolder;
    font-size: 1.5rem;
} */

.ori__termiteControl-title_logo {
    flex: 1.2;
    padding-right: 2rem;
}

.ori__termiteControl-title_logo img {
    width: 100%;
    height: 100%;
}

.ori__termiteControl-title_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.ori__termiteControl-title_content p {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--color-text);
}

.ori__termiteControl-title_content button {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 3.5rem;
    border: none;
    outline: none;
    background: var(--color-btn);
    color: var(--body-bg);
    border-radius: 2px;
}

.ori__termiteControl-title_content-call {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 18px;
    font-weight: 600;
}

.ori__termiteControl-title_content-call a {
    font-family: var(--font-family);
    color: var(--cta-bg);
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}

.ori__termiteControl-hero {
    position: relative;
    /* overflow: hidden; */
}

.ori__termiteControl-hero img {
    width: 100%;
    height: 600px;
}

.ori__termiteControl-hero_heading {
    position: absolute;
    top: 50px;
    left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
    padding: 2rem;
    font-family: var(--font-family);
}

.ori__termiteControl-hero_heading h1 {
    color: var(--color-heading);
    font-size: 4rem;
}

.ori__termiteControl-hero_heading p {
    color: var(--color-text);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
}

.ori__termiteControl-science {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem 4rem;
}

.ori__termiteControl-science_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    gap: 1rem;
}

.ori__termiteControl-science_content-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.ori__termiteControl-science_content-heading p {
    color: brown;
    font-weight: 600;
    word-spacing: 2px;
}

.ori__termiteControl-science_content-heading h1 {
    color: var(--color-heading);
}

.ori__termiteControl-science_content-heading a {
    color: var(--sub-heading);
    font-weight: 600;
    text-decoration: underline;
}

.ori__termiteControl-science_content-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 4rem;
}

.ori__termiteControl-science_contact {
    flex: 0.8;
    /* background: rgb(189, 183, 183); */
    /* padding: 2rem rem 2rem 1rem; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: 20px;
   
    height: 100%;
    font-family: var(--font-family);

    border-radius: 5px;
}

.ori__termiteControl-science_contact p {
    color: var(--sub-heading);
    font-weight: 600;
    word-spacing: 2px;
}

.ori__termiteControl-science_contact h2 {
    color: var(--color-heading);
}

.ori__termiteControl-science_contact a {
    font-family: var(--font-family);
    color: var(--cta-bg);
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}

.ori__termiteControl-science_contact button {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    padding: 0.8rem 2.5rem;
    border: none;
    outline: none;
    background: var(--color-btn);
    color: var(--body-bg);
    border-radius: 2px;
}

.ori__termiteControl-science_contact-img {
    display: flex;
    /* max-width: 350px;
    max-height: 250px; */
    margin-top: 2rem;
}

.ori__termiteControl-science_contact-img img {
    width: 100%;
    height: 100%;
}

.ori__termiteControl-custom {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 4rem;
}

.ori__termiteControl-custom_img {
    flex: 1;
}

.ori__termiteControl-custom_img img {
    width: 100%;
    height: 100%;
}

.ori__termiteControl-custom_content {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3rem;
    gap: 1rem;

    font-family: var(--font-family);
}

.ori__termiteControl-custom_content p:first-of-type {
    color: var(--sub-heading);
    font-weight: 600;
    text-align: left;
}

.ori__termiteControl-custom_content p {
    color: var(--color-text);
    font-weight: 600;
    text-align: left;
}

.ori__termiteControl-custom_content h1 {
    color: var(--color-heading);
}

@media screen and (max-width: 1050px) {
    .ori__termiteControl {
        padding: 2rem 0;
    }
    .ori__termiteControl-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ori__termiteControl-title_heading {
        text-align: center;
    }

    .ori__termiteControl-title_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-title_content p {
        text-align: center;
        padding: 1rem;
    }

    .ori__termiteControl-title_content-call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* .ori__termiteControl-hero_heading {
        position: static;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        padding: 2rem 0;
    } */
    /* .ori__termiteControl-hero_heading p {
        text-align: center;
        padding: 1rem 4rem;
    } */

    .ori__termiteControl-science {
        padding: 2rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 850px) {

    .ori__termiteControl-hero_heading h1 {
        color: var(--color-heading);
        font-size: 2rem;
    }
    
    .ori__termiteControl-hero_heading p {
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
    }

    .ori__termiteControl-custom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-custom_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-custom_content h1, 
    .ori__termiteControl-custom_content p {
        text-align: center;
    }

    .ori__termiteControl-science h1 {
        font-size: 1.5rem;
    }

    .ori__termiteControl-science_contact a {
        font-size: 1rem;
    }

    .ori__termiteControl-science_contact h2 {
        font-size: 1.1rem;
    }

    .ori__termiteControl-connect_form a {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .ori__termiteControl-hero_heading h1 {
        color: var(--color-heading);
        font-size: 2rem;
    }
    
    .ori__termiteControl-hero_heading p {
        color: var(--color-text);
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
    }

    .ori__termiteControl-science {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ori__termiteControl-science_content-heading {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-science_content-cards {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        padding: 0;
    }

    .ori__termiteControl-science_contact {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-connect_form {
        justify-content: center;
        align-items: center;
    }

    .ori__termiteControl-custom_content {
        padding: 2rem;
    }
}

