@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #F3FCF0;
  --color-footer : #0a2e36;
  --color-navtext : #14cc60;
  --color-heading: #052647;
  --color-text: #404142;
  --color-subtext: #FF8A71;
  --color-chatbtn : #01a344;
  --cta-bg : #4f5050;
}
