@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  
  --body-bg: #F3EFF5;
  --hero-bg: #04395E;
  --color-banner: #031D44;
  --color-footer : #031D44;
  --color-navtext : #031D44;
  --color-heading: #000033;
  --color-text: #36393b;
  --feature-icon: #0b3c49;
  --color-btn: #d8441e;
  --color-chatbtn : #01a344;
  --cta-bg : #031D44;
}

body {
  margin: 0;
}