.banner-container {
    background: #eb1502;
    padding: 10px;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
}

.banner-container_content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.06rem;
    font-weight: 700;
}


/* .banner-container_content span {
    font-size: 1.5rem;
    color: #47C300;
} */

@media screen and (max-width: 700px) {
    .banner-container_content {
        font-size: 0.8rem;
        padding: 0 2rem;
    }
}